    /*
        DEMO STYLE
    */
    <link href="" rel="stylesheet">

    @import "https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700";
    body {
        font-family: 'Lato', sans-serif;
        background: #fafafa;
            
    }
    
    p {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.7em;
        
    }
    .row.display-flex {
        display: flex;
        flex-wrap: wrap;
      }
      .row.display-flex > [class*='col-'] {
        flex-grow: 1;
      }
      
    img {max-width:100%;}
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    .il_logo {
        padding-left: 20px;
    }
    .navbar {
        padding: 15px 10px;
        background: #CACFE6;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }

    /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #5261AC;
        color: #CACFE6;
        transition: all 0.3s;
    }

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #475496;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #475496;
    }

    #sidebar ul p {
        color: #CACFE6;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px 10px 10px 20px;
        font-size: 1.1em;
        display: flex;
        
    }
    #sidebar ul li a span {
        font-size: 1.1em;
        display: flex;
        padding-left: 15px;
        
    }
    #sidebar ul li a:hover {
        color: #fff;
        background: #475496;
    }

    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: #CACFE6;
        background: #6d7fcc;
    }
    #sidebarCollapse {
        display: none;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #475496;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #CACFE6;
        color: #7386D5;
    }

    a.article,
    a.article:hover {
        background: #475496 !important;
        color: #CACFE6 !important;
    }

    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */

    #content {
        width: 100%;
        /*padding: 20px;*/
        min-height: 100vh;
        transition: all 0.3s;
    }
    .main-content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
        
    }
    .box{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #aaa;
        margin: 20px 0;
        padding: 10px;
        width: 100%;
        min-height: 200px;
        color: #fff;
    }
    .dashboard-heading {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 20px 0;
    }
    .chart-boxes {
        margin: 5px;
    }
    .welcome-box-1 {
        background-color: #F0F1F7;
        color: #333;
        padding: 25px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .welcome-box-2 {
        background-color: #50C9B5;
        color: #fff;
        padding: 25px;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
    }
    .button-transactions {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;    
        width: 180px;
        height: 48px;
        border-radius: 4px;
        background-color: #50C9B5;
        color: #fff;
        margin: 10px;
    }
    .box svg{
        font-size: 100px;
    }
    .projections-icon {
        justify-content: center;
        display: flex;
        align-self: center;
        padding: 5px;
    }
    .projections-box-1, .projections-box-2, .projections-box-3 {
        background-color: #149FBF;
        color: #fff;
        min-height: 120px;
        display: flex;
        justify-content: center;
        font-size: 100%;
    }
    .projections-box-1 .material-icons {
        font-size: 60px;
        padding: 5px;
    }
    .projections-box-2 .material-icons {
        font-size: 60px;
        padding: 5px;
    }
    .projections-box-3 .material-icons {
        font-size: 60px;
        padding: 5px;
    }

    .projections-box-4 {
        background-color: #EEAA02;
        color: #fff;
        min-height: 120px;
        display: flex;
        justify-content: center;
    }
    .projections-box-4 .material-icons {
        font-size: 60px;
        padding: 5px;
    }
    .projections-total {
        display: flex;
        justify-content: flex-start;
    }
    .upper_right {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20%;
        right: 10%;
        background-image: url('/Users/conorkelly/Development/Corporate Business/img/info.png');
        background-repeat: no-repeat;
        padding: 12px;
    }
    .projections-subtext {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
    .next-step-box-1 {
        background-color: #67B023;
        color: #fff;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;  
    }

    .next-step-box-2 {
        background-color: #4C8A21;
        color: #fff;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }
    .button-contributions {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 260px;
        height: 48px;
        border-radius: 4px;
        background-color: #327305;
        color: #fff;
        margin: 10px;
        align-self: flex-start;
    }

    .modify-content {
        margin: 5px;
    }
    .manage-my-contributions {
        margin: 5px;
        border: 1px solid #E0E1E8;
        border-bottom: 1px solid #E0E1E8;
        margin-bottom: -5px;
        padding: 20px;
    }
    .contributions-box {
        margin: 5px;
        border: 1px solid #E0E1E8;
        border-top: 0;
        padding: 20px;
        display: flex;
        flex-flow: column;
    }

    .contribution-split-box {
    	height:auto;
        background: linear-gradient(to right, #149FBF 50%, #117EA3 50%);
        justify-content: space-between;
        display: flex;
        padding:10px 15px 10px 15px;
        color: #fff;
        margin: 20px;
    }
    button.submit-changes-btn {
        width: 260px;
        height: 48px;
        border-radius: 5px;
        background: #67b023;
        font-size: 18px;
        color: #fff;
    }
    .contributions-text-subtext {
        display: flex;
        margin: 15px;
        
    }

    .submit-changes {
        display: flex;
        justify-content: center;
        border: 1px solid #E0E1E8;
        border-top: 0;
        margin: 5px;
        margin-top: -5px;
        padding: 20px;
    }

   .what-else-can-i-do {
       width: 100%;
       height: 271px;
       background-color: #5261AC;
       padding: 20px;
       display: flex;
       flex-flow: row wrap;
       margin-top: 5px;
   }

   .modify-body {
       display: flex;
       flex-flow: row wrap;
   }
   .modify-header {
       border: 1px solid #E0E1E8;
       width: 100%;
       height: 120px;
       margin: 20px;
       display: flex;
       justify-content: space-evenly;
   }

   .header-headings {
        display: flex;
        justify-content: space-evenly;
   }

   .header-sub-headings {
        display: flex;
        justify-content: space-evenly;

   }
   .headings {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.header-img {
    padding: 20px;
}
    /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */

    @media (max-width: 1024px) {

        h2 {
            font-size: 1.8em;   
        }
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
        #sidebarCollapse span {
            display: none;
        }
        
        #sidebarCollapse {
            display: block;
        }
        .projections-total {
            justify-content: center;
        }
        .upper_right {
            top: 15%;
        }
        .button-contributions {
            align-self: center;
        }
        .projections-text {
            text-align: center;
        }
    }
    @media (min-width: 796px){
        .profile {
            display: none;
        }
    }
 /*-- SLIDER STYLES */

 span.ui-slider-handle.ui-corner-all.ui-state-default {
    border-radius: 100%;
    background: #5CBBAF !important
 }

.modify-sliders {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
/*---- Ordering Contribution Sliders / Text ---*/
    .employee {
        order: 2;
    }
    .employer {
        order: 3;
    }

    .avc {
        order: 4;
        display: none;
    }
    .avc-reordered {
        order: 1;
        
    }
    .contributions-text-subtext {
        order: 5;
    }

    .contribution-split-box {
        order: 6;
    }
    
  #employee-contribution {
    width: 100%;
    display: flex;
    margin: 50px 30px 30px 30px;
    justify-content: center;
    border: 0;
    height: 2px;
    background: #959799;
    outline: none;
  }

  #employee-contribution .ui-slider-handle {
    position: absolute;
    margin: -3px 0 0 -9px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #fff;
    border: 0;
    height: 18px;
    width: 18px;
    outline: none;
    cursor: pointer;
  }
  
  
  #employee-contribution .ui-slider-handle:hover,
  #employee-contribution .ui-slider-handle:focus {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #employee-contribution .ui-slider-range { background: #007aff; }
  
    #employee-contribution  #currentVal {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: #b8b8b8;
    width: 160px;
    text-align: center;
    margin-top: -40px;
  }

  #employer-contribution {
    width: 100%;
    display: flex;
    margin: 50px 30px 30px 30px;
    justify-content: center;
    border: 0;
    height: 2px;
    background: #959799;
    outline: none;
  }

  #employer-contribution .ui-slider-handle {
    position: absolute;
    margin: -3px 0 0 -9px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #fff;
    border: 0;
    height: 18px;
    width: 18px;
    outline: none;
    cursor: pointer;
  }
  
  
  #employer-contribution .ui-slider-handle:hover,
  #employer-contribution .ui-slider-handle:focus {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #employer-contribution .ui-slider-range { background: #007aff; }
  
  #employer-contribution #currentVal {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: #b8b8b8;
    width: 160px;
    text-align: center;
    margin-top: -40px;
  }

  #avc-contribution {
    width: 100%;
    display: flex;
    margin: 50px 30px 30px 30px;
    justify-content: center;
    border: 0;
    height: 2px;
    background: #959799;
    outline: none;
  }

  #avc-contribution .ui-slider-handle {
    position: absolute;
    margin: -3px 0 0 -9px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #fff;
    border: 0;
    height: 18px;
    width: 18px;
    outline: none;
    cursor: pointer;
  }
  
  
  #avc-contribution .ui-slider-handle:hover,
  #avc-contribution .ui-slider-handle:focus {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #avc-contribution .ui-slider-range { background: #007aff; }
  
  #avc-contribution #currentVal {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: #b8b8b8;
    width: 160px;
    text-align: center;
    margin-top: -40px;
  }

  /*------ MODAL STYLING ------- */
  .modal-header {
      background-color: #5261AC;
      color: #fff;
  }
  .modal-title {
      font-size: 24px;
  }

  .modal-content {
    border: 0px;
    display: flex; 
    width: 100%;
}

.confirm-summary-text {
    padding: 20px 10px 20px 10px;
}